/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

html, body {
    touch-action: manipulation;
}

.container {
    background-color: #D0EDC0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5rem;
    color: #000;
}

.content {
    margin: 0 1rem;
}

.title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

#login-area {
    display: flex;
    flex-direction: column;
}

.cpf, .password {
    display: flex;
    flex-direction: column;
}

.cpf label, .password label {
    padding-left: 1rem;
    margin-bottom: .2rem;
}

#cpf, #password {
    margin-bottom: 1rem;
    width: 400px;
    padding: 1rem 2rem;
    border: 1px solid #e6e6e6;
    border-radius: 1.6rem;
    transition: outline .15s ease;
}

#cpf:focus, #password:focus {
    outline: 2px solid #717171;
}

.submit-btn {
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 1.6rem;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color .2s;
}

.submit-btn:hover {
    background-color: #547542;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 40%;
    animation: float 1s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 460px) {
    .logo {
        margin: 4rem 0;
    }
} 