/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

a {
    text-decoration: none;
}

html, body {
    touch-action: manipulation;
}

.container {
    background-color: #D0EDC0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.content {
    margin: 0 1rem;
}

.title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.text {
    text-align: justify;
    font-size: 1.1rem;
    color: #757575;
    margin-bottom: 1.2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    height: 60px;
    min-width: 50%;
    border: none;
    border-radius: 1.6rem;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
    background-color: #000;
}

.btn-register {
    color: #000;
}

.btn:hover {
    background-color: #547542;
    color: #fff;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 40%;
    animation: float 1s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 460px) {
    .logo {
        margin: 4rem 0;
    }
}   